# dependencies
node_modules/
functions/node_modules/

# next.js
.next/
out/
build/

# production
dist/

# env
.env
.env.local
.env*.local
.env.production

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log

# misc
.DS_Store
*.pem

# vercel
.vercel

# editor
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
